@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

div#app {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.debug, .debug > * {
    border: 1px solid rgb(255, 0, 0);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 20rem;
    /* border: 1px solid gold; */
    /* height: 100vh; */
    /* padding: 10rem 0; */
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.nav > .nav__brand {
    font-weight: bold;
    font-size: 18pt;
}

.nav > .nav__menu {
    padding: .8rem 0;
}

.nav > .nav__menu > ul > li {
    list-style-type: none;
    display: inline;
    padding: 0 .5rem;
}

.books {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}



.books__item > .books__item-header {
    width: 100%;
    height: 400px;
    background-color: lightgray;
    /* background: red; */
}

.books__item-caption {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.books__item-rating {
    padding: 1rem 0;
}

.books__item-caption-title {
    font-weight: bold;
}

.books__item-actions {
    width: 100%;
}

.books__item-borrow-button {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    display: block;
    padding: .8rem 0;
}

.books__item-borrow-button:hover {
    background-color: black;
    color: white;
}
