<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', { title: 'Account' }) %>
</head>
<body>
    <div class="container text-center">
    <%- include('../partials/navbar') %>  
      <div>
        <h1>Account</h1>
        <div>
          <div id="username"></div>
          <div id="email"></div>
          <button class="btn btn-danger" id="button__logout">Logout</button>
        </div>
      </div>
    </div>
    <%- include('../partials/footer') %>
    <script>
      $(document).ready(function () {
        const userData = JSON.parse(localStorage.getItem("login-user"));
        if (!userData) {
          window.location.href = "/login";
        }
        if (userData.error){
          localStorage.clear();
          window.location.href = "/login";
        }
        const labelUsername = $("#username");
        const labelEmail = $("#email");
        labelUsername.html(userData.data.Username);
        labelEmail.html(userData.data.Email);
        const buttonLogout = $("#button__logout");
        buttonLogout.on("click", function () {
          localStorage.clear();
          window.location.reload();
        });
      });
    </script>
</body>
</html>
