<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', { title: 'Home' }) %>
</head>
<body>
    <div id="app">
        <div class="container">
            <%- include('../partials/navbar') %>
            <main>
                <h1 class="text-center">Welcome</h1>
            </main>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>
</html>