<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header', { title: 'Home' }) %>
</head>
<body>
    <div class="container">
      <%- include('../partials/navbar') %>
        <form class="w-50 margin-auto my-5" id="form__login" method="POST">
            <div class="form-group my-5">
                <h1>Login</h1>
            </div>
            <div class="form-group my-3">
                <label for="Username">Username</label>
                <input
                  type="text"
                  placeholder="Type your username"
                  name="Username"
                  class="form-control"
                />      
            </div>
            <div class="form-group my-3">
              <label for="Password">Password</label>
              <input
                type="password"
                placeholder="Type your password"
                name="Password"
                class="form-control"
                autocomplete="current-password"
              />      
          </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary my-3">Login</button>
            </div>
        </form>
    </div>
    <%- include('../partials/footer') %>
    <script>
      async function doLogin(username, password) {
        const response = await fetch(
          'http://localhost:3000/api/v1/auth/login',
          {
            method: "POST",
            // baseURL: "",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              Username: username,
              Password: password,
            })
          }
        );
        const data = await response.json();
        localStorage.setItem("login-user", JSON.stringify(data));
        window.location.href = "/account";
      }
      $(document).ready(function () {
        const formLogin = $("#form__login");
        const userData = JSON.parse(localStorage.getItem("login-user"));
        // console.log("tes");
        if (userData) {
          window.location.href = "/account";
        }
        formLogin.on("submit", function (e) {
          e.preventDefault();
          const username = $("input[name=Username]").val();
          const password = $("input[name=Password]").val();
          doLogin(username, password);
        });
      });
    </script>
</body>
</html>