<nav class="nav">
    <div class="nav__brand">
        <a href="/">Home</a>
    </div>
    <div class="nav__menu">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/account">Account</a></li>
        </ul>
    </div>
</nav>